---
---

@import "{{ site.theme }}";

body {
  background-color: #fff;
  padding:50px;
  font: 16px/1.5 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#404040;
  font-weight:400;
}