---
---

@import "{{ site.theme }}";

header {
  background-color: #111;
  overflow-x: hidden;
  position: unset;
}
.logo_box {
  text-align: center;
  padding-bottom:20px;
}
.logo {
  height: 160px;
  width: 160px;
}
.site_name {
  color: #fff;
}
.sidenav a {
  text-align: center;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  border-bottom: none;
}
.sidenav a:hover {
  color: #f1f1f1;
}
html, body {
  height: 100%;
}
body {
  background-color: #fff;
  padding:50px;
  font: 16px/1.5 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#404040;
  font-weight:400;
  display: flex;
  flex-direction: column;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.main {
  float: right
}
.main_content {
  flex: 1 0 auto;
}
footer {
  position: static;
  padding-left: 10px;
  flex-shrink: 0;
}
/* Collapse */
 /* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  font-size: 15px;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the collapsible content. Note: hidden by default */
.collapsible_content {
  padding: 0 18px;
  background-color: Dimgrey;
  background: rgba(69, 69, 69, 0.5);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
} 
