---
---

$fa-font-path:        "../webfonts";

@import "{{ site.theme }}";
@import "/assets/fontawesome/scss/fontawesome.scss";
@import "/assets/fontawesome/scss/brands.scss";

header {
  background-color: #111;
  overflow-x: hidden;
  position: unset;
}
.logo_box {
  text-align: center;
  padding-bottom:20px;
}
.logo {
  height: 160px;
  width: 160px;
}
.site_name {
  color: #fff;
}
.sidenav a {
  text-align: center;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  border-bottom: none;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.linkbar a {
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  border-bottom: none;
}
.linkbar a:hover {
  color: #f1f1f1;
}
html, body {
  height: 100%;
}
body {
  background-color: #000;
  background-image: linear-gradient(to bottom right, grey, black);
  background-attachment: fixed;
  padding:50px;
  font: 16px/1.5 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#404040;
  font-weight:400;
  display: flex;
  flex-direction: column;
}
.wrapper {
  display: flex;
  flex-direction: column;
  background: rgb(51, 51, 51);
  background: rgba(51, 51, 51, 0.5);
  color: #fff;
  height: auto;
}
h1, h2, h3, h4, h5, h6 {
  color: #fff;
}
.main {
  float: right;
  padding: 15px;
  background: rgb(51, 51, 51);
  background: rgba(51, 51, 51, 0.5);
}
.main_content {
  flex: 1 0 auto;
  background: rgb(51, 51, 51);
  background: rgba(51, 51, 51, 0.5);
}
footer {
  position: static;
  padding-left: 10px;
  padding-top: 10px;
  flex-shrink: 0;
  width: 100%;
  background-color: #111;
}
iframe {
  border-width: 0px;
  display:block;
  text-align: center;
}
/* Collapse */
 /* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  font-size: 15px;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  background-color: Dimgrey;
  overflow: hidden;
  display: none;
  background: rgba(69, 69, 69, 0.5);
}

/* Style for Webforms */
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  font: 16px/1.5 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input:required {
  border: none;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  font: 16px/1.5 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button {
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}